@model IEnumerable<Mission>
@{
    ViewData["Title"] = "Home Page";
}


@*Временные стили, обязательно убрать в отдельный файл*@
<div>
    <form action="/" method="post" class="form-inline mb-3">
        <input type="text" name="name" value="" placeholder="Введите название задачи" class="form-control mr-3" />
        <button class="btn btn-primary" type="submit">Добавить</button>
    </form>
    <table class="table">
        <tr>
            <th>Задание</th>
            <th>Время добавления</th>
            <th>Статус выполнения</th>
        </tr>
        @foreach (var op in Model)
        {
            <tr>
                <td>@op.Name</td>
                <td>@op.Add_Time</td>
                <td>@op.Complete</td>
                <td><a asp-action="Delete" asp-route-id="@op.Id">Удалить</a></td>    
            </tr>
        }

    </table>
</div>
