@model List<Mission>

<div>
    <form action="/" method="post" class="form-inline mb-3">
        <input minlength="1" class="form-control mr-3" required type="text" name="name" value=""
               placeholder="Введите название списка задач" />
        <button class="btn btn-primary" type="submit"
                asp-controller="Home"
                asp-action="AddTab">
            Добавить список задач
        </button>
    </form>
    <form class="form-inline mb-3">
        <input minlength="1" id="missionForm" required type="text" name="name" value="" placeholder="Введите название задачи"
               class="form-control mr-3 first_form" />
        <a class="btn btn-primary" onclick="clickIndex()">
            Добавить
        </a>
    </form>
    <div class="content d-flex justify-content-between">
        <div class="content__left col-lg-3">
            @await Component.InvokeAsync("Tab")
        </div>
        <div class=" table content__right ">
            @await Component.InvokeAsync("MissionTable", Model)
        </div>
    </div>

</div>
