@model List<Mission>

<div>
    <div class="content d-flex justify-content-between h-100">
        <div class="content__left col-lg-4 ">
            @await Component.InvokeAsync("Tab")
        </div>
        <div class="line"></div>
        <div class=" table content__right ">
            @await Component.InvokeAsync("MissionTable", Model)
        </div>
    </div>

</div>
