@model IEnumerable<Tab>

@foreach (var item in Model)
{
    <div class="sidebar ">
        <a class="btn-block sidebar__item" 
           asp-route="Custom" 
           asp-route-id="@item.Id">
        @item.Name
        </a>
        <a class="sidebar__delete" 
           asp-action="DeleteTab"
           asp-route-id="@item.Id">
            <img class="sidebar__delete-img " src="http://mat-kapital-kpk.ru/images/close.png" alt="Alternate Text" />
        </a>
    </div>
}
